<form id='login-form' [formGroup]="formLogin" (submit)="onLoginSubmit()">
  <div class="form-header">
    <h1>Login to your Account</h1>
  </div>
  <div *ngIf="messageLogin" class="alert" [ngClass]="{'alert-danger':!messageLogin.success, ' alert-info': messageLogin.success}">
     {{messageLogin.message}}
  </div>  
  <div class="form-group">
    <label for="exampleInputUsername1">Username</label>
    <input type="username" name="username" class="form-control" id="exampleInputUsername1" placeholder="Enter username" formControlName="username" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName='password'>
  </div>
  <div class="form-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="/register" routerLinkActive="active">register</a>
  </div>
</form>
